:root {
    --grey-1: #dddddd;
    --grey-2: #8c8c8c;
    --grey-3: #2f2f2f;
    --red: rgb(255, 77, 77);
    --black: rgba(0,0,0,0.5);
    --yellow: #e5bd15;
    --green: #77f292;
    --button-f-size: 16px;
    --button-f-weight: bold;
    --button-l-height: 32px;
    --height-value: 32px;
}
html, body {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    image-rendering: pixelated;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    transform: scale(2,2);
}

button {
    position: relative;
    display: inline-block;
    padding: 5px;
    margin: 10px 0;
    min-width: 128px;
    border: none;
    background-color: var(--grey-1);
}
button:focus {outline:0;}

#ui-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

#play-pause-button {
}

#physics-button {
    background-color: var(--green);
}

#fps-label {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 20px;
}